.content {
    z-index: 1;
}
.content .page-satu .foto img {
    width: 300px;
}
.content .page-satu {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 150px 15% 50px 15%;
    line-height: 24px;
}
.desk {
    z-index: 3;
}
.desk h1 {
    padding-bottom: 10px;
}
.page-dua .layout {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 80px;
    margin-left: 15%;
    margin-right: 4%;
}
.page-dua .circle img {
    width: 150px;
    border-radius: 50%;
    background-color: #776363;
}
.page-dua .layout .desk h3 {
    margin-bottom: 15px;
}
hr {
    background: orange;
    width: 80%;
    margin: 0 auto;
}
hr {
    margin-top: 50px;
    margin-bottom: 50px;
}
.page-dua {
    padding-bottom: 100px;
}
.properti .satu {
    position: absolute;
    right: 8%;
    top: 80%;
}
.properti .dua {
    position: absolute;
}
.properti .tiga {
    position: absolute;
    right: 0%;
    bottom: 1%;
    width: 200px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
    .properti .tiga {
        position: absolute;
        bottom: -27%;
        width: 100px;
    }
    .page-dua .layout {
        position: relative;
        display: flex;
        align-items: flex-start;
        gap: 23px;
        margin-left: 10%;
        flex-direction: column;
    }
    .content .page-satu {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        padding: 150px 10% 50px 10%;
        line-height: 24px;
        flex-direction: column;
    }
}
